.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  height: 50px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  align-items: center;
  background-color: #02bf5e;
  color: white;
}

.toolbar-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.toolbar-container > h1 {
  flex: 1 1 auto;
  margin: 0;
}
.toolbar-container > *:nth-child(2) {
  flex: 0 0 auto;
}

.toolbar-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px;
}

.pages {
  text-align: center;
}
