html, body {
  font-size: 16px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f5f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
